mixin sPersonalCab(data)
	// start sPersonalCab
	+b.SECTION.sPersonalCab.section#sPersonalCab&attributes(attributes)
		+e.bg
			//- img(loading="lazy" src="img/@2x/sAbout-bg.png" alt="")
		.container
			+breadcrumb('Главная', data.bcTxt)
			+b.section-title
				h1 Личный кабинет
			+e.white-box
				.row.gx-0.align-items-start
					+e.col--left.col-lg-3
						+e.top-box
							+e.tb-row.row.gy-3
								.col-auto
									+e.img
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<circle opacity="0.4" cx="12" cy="7" r="5" fill="#4C9900"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M4.00002 17.9973C3.99866 17.6635 4.078 17.3338 4.23204 17.0331C4.71541 16.1234 6.07852 15.6413 7.20962 15.423C8.02536 15.2592 8.85238 15.1498 9.68449 15.0955C11.2251 14.9682 12.7746 14.9682 14.3152 15.0955C15.1473 15.1504 15.9742 15.2598 16.7901 15.423C17.9212 15.6413 19.2843 16.0779 19.7677 17.0331C20.0774 17.6461 20.0774 18.3577 19.7677 18.9707C19.2843 19.9258 17.9212 20.3625 16.7901 20.5717C15.9753 20.7423 15.148 20.8548 14.3152 20.9083C13.0613 21.0083 11.8015 21.0265 10.5449 20.9629C10.2549 20.9629 9.97452 20.9629 9.68449 20.9083C8.85483 20.8555 8.03069 20.7429 7.21929 20.5717C6.07852 20.3625 4.72508 19.9258 4.23204 18.9707C4.07879 18.6665 3.99953 18.334 4.00002 17.9973Z" fill="#4C9900"/>
										</svg>
								.col
									+e.name +7 987 654 23
									+e.mail ivanov@yandex.ru
								.col-auto.d-lg-none
									+e.mob-quit(href="#") Выход
						+e.links
							-for(let [index,link] of Object.entries(data.sbLinks))
								+e.link(href="#" class=`${index == data.sbActive ? 'current' : ''}`)=link
					+e.col--right.col-lg-9
						if !data.favorite
							+e.H2.sub-title=data.subTitle
						else 
							+e.H2.sub-title--2=data.subTitle
							+e.tags-row.row
								.col-auto
									+e.clear(href="#") 
										+icon('delete')
										| Очистить список
								.col-auto
									+e.add-all(href="#") 
										+icon('basket-small')
										| Добавить все в корзину
						if data.personalData
							+form-wrap
								+e.inputs
									+input('Имя', 'text', 'Имя')(class="checked" value="Сергей")
									+input('Фамилия', 'text', 'Фамилия')
									+input('+7 (999) 999-99-99', 'tel', 'Телефон')
									+input('Электронная почта', 'email', 'Электронная почта')(class="checked" value="ivanov@yandex.ru")
									+input('Дата рождения', 'date', 'Дата рождения')
									//-+input('', '', '')
									+e.input-wrap.form-group
										label
											+e.INPUT.input.form-control(type="password" value='la**********' placeholder="************")
											+e.SPAN.input-title Пароль
											+e.change-link(href="#") Изменить пароль
								+e.btn(type="submit") Сохранить данные
							+e.address-wrap
								+e.a-title Мои адреса
								+e.a-row.row
									+sPersonalCabAddress()
									+sPersonalCabAddress()
								+e.add-btn.link-modal-js(href="#modal-address") добавить адрес
						if data.myOrders
							+b.orders
								+sPersonalCabOrder({
									payBtn: true,
									activeClasses: 'active',
									status: 'Оформлен',
								})
								+sPersonalCabOrder({
									backBtn: true,
									activeClasses: 'active',
									status: 'Доставлен',
								})
								+sPersonalCabOrder({
									backBtn: true,
									activeClasses: '',
									status: 'Доставлен',
								})
						if data.favorite
							+e.row.row
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 1,
								})
								+sCatalogCard({
									imgNum: '2',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 2,
								})
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 3,
								})
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 4,
								})
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 4,
								})
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 1,
								})
								+sCatalogCard({
									imgNum: '2',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 2,
								})
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 3,
								})
								+sCatalogCard({
									imgNum: '1',
									title: 'Стиральная машина HAIER HW70-12829A',
									imgAmount: 4,
								})
						if data.bonus
							+e.bonus
								p У вас на счете
								p
									span 1200
									| бонусов
	// end sPersonalCab

mixin sPersonalCabOrder(data)
	+e.item(class=data.activeClasses)
		+e.head.free-dd-head-js
			+e.h-row.row
				+e.col--number.col-6.col-xl Заказ №31662
				+e.col--date.col-6.col-xl 22.11.2020
				+e.col--price.col-6.col-xl 13 776 руб.
				+e.col--status.col-6.col-xl=data.status
		+e.content.free-dd-content-js
			+e.c-row.row.gy-3
				+e.c-col--long.col-xl
					+e.d-title Информация о заказе
					+sPersonalCabOrderDataItem('Статус заказа', 'Оформлен')
					+sPersonalCabOrderDataItem('Способ доставки', 'Почтой России')
					+sPersonalCabOrderDataItem('Стоимость доставки', '500 ₽')
					+sPersonalCabOrderDataItem('Адрес доставки', '1117463, Москва, Паустовского, 4')
					+sPersonalCabOrderDataItem('ФИО получателя', 'Неретин Николай Игоревич')
					+sPersonalCabOrderDataItem('Телефон', '+7 (916) 176-05-12')
					+sPersonalCabOrderDataItem('Почта', 'nicolomelodini@gmail.com')
				+e.c-col--sm.col-xl-auto.ms-auto
					+e.d-title Статус доставки
					+sPersonalCabOrderDataItem('06.03.2020', 'Доставлен')
					+sPersonalCabOrderDataItem('05.03.2020', 'Ждёт в магазине')
					+sPersonalCabOrderDataItem('04.03.2020', 'В пути')
					+sPersonalCabOrderDataItem('03.03.2020', 'Отправляем')
					+sPersonalCabOrderDataItem('02.03.2020', 'Собираем')
			+e.goods-title Товары в заказе
			+e.goods
				+e.g-row.row
					+goodsItem()
					+goodsItem()
					+goodsItem()
					+goodsItem()
			//- +e.lower-box
			//- 	+e.lb-chars
			//- 		+CabOrderChar('Товары', '99')
			//- 		+CabOrderChar('Вес', '30 кг')
			//- 		+CabOrderChar('Скидка', '-11 890 ₽', 'text-primary')
			//- 		+CabOrderChar('Промокод', '-11 890 ₽', 'text-primary')
			//- 		+CabOrderChar('ИТОГО', '33 294  ₽')
			//- 	if data.backBtn
			//- 		+e.btn--dark(href="#") оформить возврат
			//- 	if data.payBtn
			//- 		+e.btn--orange(href="#") оплатить

mixin CabOrderChar(key, val, addClass)
	+e.lb-char.row(class=addClass)
		.col=key
		.col-auto=val

mixin goodsItem()
	.col-6.col-xl-3
		+e.g-item
			+e.g-img(href="#")
				img(loading="lazy" src="img/@2x/goodsItem.png" alt="")
			+e.g-title(href="#") Стиральная машина Miele WWV 980 WPS WhiteEdition
			+e.g-price 189 999 руб.

mixin sPersonalCabOrderDataItem(key, val)
	+e.dt-row.row
		+e.key.col-sm-auto=key
		+e.val.col-sm-auto=val

mixin sPersonalCabAddress()
	.col-md-4
		+e.a-item.link-modal-js(href="#modal-address")
			+e.ai-row.row.d-flex
				span.col.d-block
					+e.ai-name Моя дача
					+e.address-val пос. Рощино, ул. Зеленая, д.5, к. 1
				.col-auto.d-block
					+e.edit-icon
						img(loading="lazy" src='img/svg/sPersonalCab-edit.svg' alt='')
